<div id="menu">
                    <div id="side1" class="bodyn hover1"><img src="h.png"id="profpic"/>Home</div>
                <div id="side2" class="bodyn hover1"><img src="h.png"id="profpic"/>Trending</div>
                <div id="side3" class="bodyn hover1"><img src="h.png"id="profpic"/>Subscription</div>
                <div id="side4" class="bodyn hover1">LIBRARY</div>
                <div id="side5" class="bodyn hover1">History</div>
                <div id="side6" class="bodyn hover1">Watched Later</div>
                <div id="side7" class="bodyn hover1">Liked Videos</div>
                <div id="side8" class="bodyn hover1">SUBSCRIPTION</div>
                <div id="side9" class="bodyn hover1">T-Series</div>
                <div id="side10" class="bodyn hover1">MORE FROM YOUTUBE</div>
                <div id="side11" class="bodyn hover1">Youtube Movies</div>
                <div id="side12" class="bodyn hover1">Gaming</div>
                <div id="side13" class="bodyn hover1">Live</div>
                <div id="side14" class="bodyn hover1">Setting</div>
                <div id="side15" class="bodyn hover1">Report History</div>
                <div id="side16" class="bodyn hover1">Help</div>
                <div id="side17" class="bodyn hover1">Send Feedback</div>
                </div>