*{margin: 0 ; padding: 0;}
body{
    
    background: url("nature.jpg");
    background-size: cover;
    padding-top: 10vh;
    
}

.form-container{
    width: 250px;
    height: auto;
    padding: 20px 30px;
    background-color: aliceblue;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 #000;
    margin: auto;
}
ul.list{
    list-style-type: none;
    text-align:left;
   
}
ul.list li{
    width: 250px;
    margin-bottom: 10px;
    font-size: 20px


}
ul.list li input{
    
    width: 250px;
    padding: 8px 0;
    border: none;
    background-color: #d3d3d3;
    border-radius: 5px;
    text-align: center;

}
ul.list li input[type="button"]{
    background-color: aqua;
    font: bold;
    font-size: 25px
}
